[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "gateway/components/arduino"]
	path = gateway/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "node/components/arduino"]
	path = node/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
